


/* :root {
  /* from https://www.wikiart.org/en/claude-monet/water-lilies-40 
  --lilypadBlue: #9bb7c4;
  --lilypadGreen: #5b7c3a;
  --flowerPink: #a03140;
  --reflectionGreen: #5b7c3a;
  --signaturePurple: #742f28;
  --water: #4a6a90;
  --lilyPink: #c79aba;
  --waterLighter: #798dde;
} */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: grey;
}

.categoriesBox {
  flex-direction: column;
  border-style: dotted;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  background-color:blue!important;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.categoryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: groove;
  width: 95%;
  padding: 20px;
  resize: both;
  background-color: green!important;
}



