


:root {
  /* from https://www.wikiart.org/en/claude-monet/water-lilies-40 */
  --lilypadBlue: #9bb7c4;
  --lilypadGreen: #5b7c3a;
  --flowerPink: #a03140;
  --reflectionGreen: #5b7c3a;
  --signaturePurple: #742f28;
  --water: #4a6a90;
  --lilyPink: #c79aba;
  --waterLighter: #798dde;
/*other picture 
https://en.wikipedia.org/wiki/Water_Lilies_(Monet_series)#/media/File:Water_Lilies_by_Claude_Monet,_Fondation_Beyeler_03.2.JPG
https://en.wikipedia.org/wiki/Water_Lilies_(Monet_series)#/media/File:Monet_w1897.jpg*/
--lilypadShadow: #3f4d1a;
--waterLight: #b5bfd8;
--lilypadLight: #b0b378;
--flowerPurple: #b499ab;
--cloudPink: #dac6bb;
--cloudGray: #ddd3d1;
--lilypadOutline: #484d14;
--flowerRed: #5e291c;


}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image:url('./waterCloseUp.jpg');
  background-repeat: repeat;
  background-position: center;
}

.categoriesBox {
  flex-direction: column;
  border-style: dotted;
  height: 75%;
  width: 75%;
  padding: 15%;
  display: flex;
  margin:0;
  justify-content: center;
  align-items: center;
  resize: both;
  background-color:var(--lilypadShadow)!important;
}


.App-header {
  background-color: var(--cloudGray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15%;
  flex-direction: column;
  font-size: 20px;
  color: white !important;
}

.categoryBox {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-color: var(--lilypadOutline);
  width: 95%;
  padding: 20px;
  resize: both;
  background-color: var(--lilypadLight)!important;
}



